


/*----------- BODY --------------*/

body{
    background-image: url("../images/mtnKissHero.jpg");
}

/*----------- HEADER --------------*/
.wcLogo{
    height: 155px;
    width: auto;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    // verticalText styling
    .verticalNumDate{
        letter-spacing: -3rem;
        bottom: 0;
        right: 0;
        top: auto;
        font-size: 3.5rem;
      }
      .verticalMonth{
        letter-spacing: -3rem;
        top: 17%;
        right: 0;
        font-size: 3.5rem;
      }
      .verticalYear{
        letter-spacing: -2rem;
        top: auto;
        bottom: 0;
        left: 0;
        font-size: 3.5rem;
      }
    // circular text START
.circle {
	position: relative;
	width: 30rem;
	height: 30rem;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
  margin: auto;
  margin-top: 6rem;
  animation: textRotation 8s linear infinite;
}
.circleText {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 3.5rem;
  letter-spacing: 10px;
	
}
@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.circleText span {
	position: absolute;
	left: 50%;
  top: 30%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}
}


/*----------- FOOTER --------------*/
    
