


/*----------- BODY --------------*/

body{
    background-image: url("../images/mtnKissHero.jpg");
}

/*----------- HEADER --------------*/
.wcLogo{
    height: 155px;
    width: auto;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    
}


/*----------- FOOTER --------------*/
    
