/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* FONTS */
@font-face {
  font-family: "KhmerMN";
  src: url(../fonts/khmer-mn.ttf);
}
/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    color:#ebebeb;
    font-family: "KhmerMN", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    html {
      min-height:100%;
      background-size:cover;
    }
}


/*----------- BODY --------------*/
body {
    background-color: #F5F0EC;
    overflow-x: hidden;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/mtnKissHeroPhone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*----------- HEADER --------------*/
header {
    display: flex;
    justify-content: space-between;
    
    .menuText{
        font-size: 2.5rem;
        text-decoration: underline;
        text-underline-offset: .2em;
        margin: .5em .5em 0 0;
    }
    .wcLogo{
      /* top | right | bottom | left */
      margin: 1rem 0 0 1rem;
      height: 105px;
      width: auto;
  }
}

/*----------- NAVIGATION --------------*/
      
    /* The Overlay (background) using https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  nav .menu {
    padding-left: 0;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    background-color: transparent; /* Make the menu content background transparent */
    li {
        list-style-type: none;
        text-decoration: none;
        background-color: transparent;
    }
}

  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: .5em;
    text-decoration: none;
    font-size: 2.25rem;
    //color: #f1f1f1;
    display: block;
    transition: 0.3s;
    background-color: transparent;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    //color: #818181;
  }
  
  /* Position the close button (top right corner) */
  .overlay #closeIcon {
    position: absolute;
    right: .03em;
    font-size: 3.75rem;
  }
  .overlay{
    background-color: #000000c9;
  }
  /* Add this to your CSS */
  .overlay.show-nav {
    width: 100%;
  }

  #myNav li.active a {
    //color: #929292;
  }
  #myNav{
    color: rgba(0, 0, 0, 0.528);
  }
  
  


/*----------- MAIN --------------*/
main {
h1{
    font-size: 3.75rem;
}
.verticalDate{
  text-orientation: upright;
  writing-mode: vertical-rl;
  letter-spacing: -2rem;
}
.verticalYear{
  text-orientation: upright;
  writing-mode: vertical-rl;
  letter-spacing: -2rem;
}
// circular text START
.circle {
	position: relative;
	width: 30rem;
	height: 30rem;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
  margin: auto;
  animation: textRotation 8s linear infinite;
}
.circleText {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 3rem;
  letter-spacing: 10px;
	
}
@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.circleText span {
	position: absolute;
	left: 50%;
  top: 30%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}
}



/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    font-size: .7rem;
    margin-top: auto;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}